@media screen and (max-width: 767px) and (orientation: portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}


body {
    font-family: 'Roboto Mono', monospace;
}

img, span { touch-action: none }

.container {
    width: 100%;
}

.none,
.hidden{
    display: none;
}

/* blink effect */
.blink {
    animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main {
    display: grid;
    grid-template-areas: "cat distributor dog";
}

.distributor {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: distributor;
    min-height: 200px;
    min-width: 300px;
    text-align: center;
    background-color: white;
    border: 2px solid gray;
    margin: 50px 20px 15px;
}

.distributor.empty {
    background-color: lightgrey;
}

.distributor .plus-icon {
    display: inline-block;
    font-size: 80px;
    font-weight: bold;
    cursor: pointer;
}

.swipe-hint {
    text-align: center;
    height: 90px;
}

.swipe-hint img{
    height: 100%;
}

.animal-blocks.wrap {
    text-align: center;
}

.animal-blocks.wrap.cat {
    grid-area: cat;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 40%;*/
}

.animal-blocks.wrap.dog {
    grid-area: dog;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*width: 40%;*/
}

.animal-blocks .container-icon {
    text-align: center;
}

.animal-blocks .container-icon img{
    width: 100%;
    max-width: 150px;
    height: 120px;
    margin: 0;
}

.animal-blocks .animal-container {
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    border: 2px dashed lightgrey;
}

.animal-blocks .animal-container .img-wrap {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: 10px;
}

.animal-blocks .animal-container .img-wrap:after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 17px 9px;
    color: #9e9e9e;
}

.animal-blocks .animal-container .img-wrap.error:after {
    color: red;
}

.animal-blocks .animal-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0;
}

.animal-blocks .animal-container .img-wrap:hover:after {
    display: none;
}

img.moving {
    opacity: 0.6;
    border-radius: 50%;
    z-index: 10;
}

.animal-blocks .animal-container.active {
    border-color: #03a9f442;
}

.animal-blocks .animal-container.active:empty {
    position: relative;
    text-align: center;
    background-color: #03a9f442;
}

.animal-blocks .animal-container.active:empty:after {
    content: '+';
    position: absolute;
    top: 50%;
    margin: -25px auto 0;
    font-size: 80px;
    font-weight: bold;
    line-height: 50px;
    color: #fff;
}

.distributor img {
    width: 250px;
    height: 200px;
    margin: 10px;
}

.temporary {
    /*position: relative;*/
    display: inline-block;
    background-color: #9e9e9e;
    border-radius: 50%;
    opacity: .3;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.distributor .temporary {
    min-height: 200px;
    min-width: 400px;
}
/*      POPUP    */
.popup {
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%);
    max-width: 100%;
    min-width: 320px;
    min-height: 300px;
    border-radius: 10px;
    border: 3px solid lightgrey;
    background-color: white;
}
.popup .container {
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    justify-items: center;
}

.popup .title {
    margin: 10px 0;
    font-size: 18px;
}

.popup .content {
    position: relative;
    margin: 15px;
}

.popup .content.center {
    text-align: center;
}

.popup .row {
    display: flex;
    align-items: center;
    margin: 20px;
}

.popup .row .label {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.popup .close-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.popup .content .video {
    width: 100%;
    max-width: 450px;
}

.popup .content .error-message {
    display: block;
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.popup .content .error-message:empty {
    display: none;
}

.popup .photo-preview {
    max-width: 100%;
    width: 300px;
}

.popup #take-photo {
    margin: 10px 0;

}

.popup .content #animal-grab{
    max-width: 300px;
}

.popup .content #animal-grab:empty{
    display: none;
}

/*// BUTONS*/
.controls-block {
    display: flex;
    align-items: center;
}

button.control,
input.control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 8px;
}

button#newGame {
    background-color: darkseagreen;
}

button#checkResult {
    background-color: #7777e4;
}

button#clearStores {
    background-color: #c33535;
}

button#camera-access {
    background-color: #84909d;
}

button#clearStores img,
button#camera-access img {
    width: 25px;
}
